<!DOCTYPE html>
<html lang="en-US">
  <head>
    {% comment %}<!-- meta charset gets set automatically by CleanSlate -->{% endcomment %}
    {% if page.is_home_page? %}
      <title>{{ site.name }} at West Virginia University</title>
      <link rel="canonical" href="{{ site.url }}">
    {% else %}
      <title>{{ page.alternate_name | default: page.name }} | {{ site.name }} | West Virginia University</title>
      <link rel="canonical" href="{{ page.url }}" >
    {% endif %}
    <meta name="description" content="{{ page.meta_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="google-site-verification" content="{{ site.data.google_site_verification }}" />

    {% render "utilities/social_meta_tags" %}

    {% link_stylesheet name: "styles" %}
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

  </head>

  <body class="{{ page.template_name }} page--{{ page.id }} page--{{ page.slug }} {% if edit_mode %}page--edit-mode page--hide-instructions-{{ site.data.hide_instructions }}{% endif %}">

    <header aria-label="masthead">
      <a class="sr-only sr-only-focusable" href="#wvu-main-content">Skip to main content</a>

      {% render "components/wvu-masthead" %}
      {% render "components/wvu-nav" %}
      {% render "patterns/wvu-coronavirus-banner" %} {% comment %} From the "Code" theme {% endcomment %}

      {% if page.template_name != 'frontpage' and page.template_name != 'blog_article' %}
        {% if page.data.breadcrumbs != '1' %}
          {% render "components/wvu-breadcrumbs" %}
        {% endif %}
        {% if page.data.backpage_header != '1' %}
          {% render "components/wvu-backpage-header" %}
        {% endif %}
      {% endif %}
    </header>

    {{ __TEMPLATE_CONTENT__ }}

    {% if site.data.has_standard_footer != 'false' %}
      {% render "components/wvu-footer" scope: 'site' %}
    {% endif %}

    {% if site.data.enable_keywords == 1 and edit_mode %}
      <div class="container py-4">
        <h2>Keywords</h2>
        {% editable_region name: "keywords" %}
      </div>
    {% endif %}

    {% comment %}
      <!-- Helvetica Neue Light, Bold, & Condensed Black + Iowan Old Style, Italic, Black, & Black Italic web font from fonts.com. -->
      <!-- Valid for *.wvu.edu, *.wvutech.edu, *.potomacstatecollege.edu & localhost. -->
      <!-- Email web_services@mail.wvu.edu to get your domain added to this list. -->
    {% endcomment %}
    <script src="https://fast.fonts.net/jsapi/36d8cd92-7cc7-499b-b169-0eed9d670283.js"></script>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    {% link_javascript name: "vendor/responsive-nav/responsive-nav, responsive-nav-dropdown--custom, vendor/twitter-fetcher/twitterFetcher_min, vendor/fontfaceobserver/fontfaceobserver, fontfaceobserver__custom" %}

    {{ content_for.page_js }}

  </body>
</html>
